ul{
    overflow: hidden;
    background-color: rgb(204, 205, 206);
}
li{
    float: left;
    
}
li a{
    padding: 5px;
    text-decoration: none;
    display: block;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
