ul{
    overflow: hidden;
    background-color: rgb(204, 205, 206);
    font-size-adjust: 0.5em;
}
li{
    float: left;
    
}
li a{
    padding: 5px;
    text-decoration: none;
    display: block;
    color: black;
}
.main{
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: red;
}
form{
    background: brown;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
button{
    background: whitesmoke;
}

